<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>{{get("title", "App")}}</title>
</head>
<body>
    % if not get("userHasLoggedIn"):
        <nav class="{{get('nav', '')}}">
            <a href="/">HOME 🏠</a>
            <a href="/signup">SIGNUP 🖊️</a>
            <a href="/login">LOGIN 🗝️</a>
        </nav>
    % end
    % if get("userHasLoggedIn"):
        <nav class="{{get('nav', '')}}">
            <a href="/admin">ADMIN 👤</a>
            <a href="/users">USERS 👥</a>
            <a href="/create-tweet">CREATE A TWEET 🐤</a>
            <a href="/logout">LOG OUT 🔐</a>
        </nav>
    % end