% include('header', title='Users page', userHasLoggedIn=user_is_logged_in, nav='users')

    <main id="users">
        <section>
            <h1>Users</h1>
            % if users == []:
                <div>
                    There are no users yet..?
                </div>
            % end
            <div id="users">
                % for user in users:
                    <div class="user">
                        <input name="user_id" type="hidden" value='{{ user["id"] }}'>
                        <p>User: {{ f'{user["first_name"]} {user["last_name"]}' }}</p>
                        <p>Email: {{ user["email"] }}</p>
                    </div>
                % end
            </div>
        </section>
    </main>

% include('footer')